.answer{
  width: 100%;
    display: flex;
    flex-direction: row;
}
.answer span,button{
    margin-left: 10px;
}
.answer span{
  display: flex;
  align-items: center;
}
.answ{
  border-radius: 4px;
  background-color: #4c1f62;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
}

.question{
    display: flex;
    flex-direction: column;
}
/* --------- acardion */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-top: 10px;
    border-radius: 10px;
  }
  .yrdm{
    background: hsl(207deg 100% 39%);
    color: white;
  }
  .msql{
    background: hsl(242deg 41% 27%);
    color: white;
  }
  .mvnt{
    background: hsl(198deg 19% 44%);
    color: white;
  }
  .ssl{
    background: rgb(62 92 144);
    color: white;
  }
  .ellk{
    background-color: hsl(44deg 89% 49%);
    color: white;
  }
  .xss{
    background-color: hsl(67deg 4% 41%);
    color: white;
  }
  .pnsy{
    background-color: hsl(8deg 93% 29%);
    color: white;
  }
  .sgrt{
    background-color: hsl(61deg 88% 27%);
    color: white;
  }
  .accordion:after {
    content: '❯';
    color: white;
    font-weight: bold;
    float: left;
    margin-right: 10px;
    transition: all 0.35s;
  }
  
  .active:after {
    content: "❯";
    transform: rotate(90deg);
  }
  
  .panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .punkt button{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 11px;
    text-decoration: none;
    height: auto;
    margin-left: 22px;
    margin-top: 4px;
    flex:0 48%;
  }
/* -------- */
.aparat{
    display: none;
}

/* ---------------- */

.slt{
    margin-bottom: 10px;
    border-radius: 4px;
    height: 40px;
    width: 50%;
}


.sign{
  text-align: center;
}

.form-login{
  margin: 0;
  padding: 0;
  display: block;
}



.inpu{
  margin-bottom: 10px;
    border-radius: 4px;
    height: 40px;
    width: 50%;
  
}
.button{
  border-radius: 4px;
    width: 50%;
    height: 40px;
    margin: 0;
    background-color: #4c1f62;
    color: white;
    margin-top: 10px;

}
.forget-account{
  margin-top: 16px;

}

.forget-account a{
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #1877f2;


}

.hr{
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}

.create-account{
  border: 3px solid;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  display: inline-block;
  color: rebeccapurple;
}
.create-account a{
  color: rebeccapurple;
}
.create-account a:hover{
    text-decoration: none;
    color: rebeccapurple;
}


/* ---------------- */






@media only screen and (max-device-width : 1300px) {
  .panel{
    display: flex;
  }
  .punkt button{
    flex: 0 46%;
  }
}

@media only screen and (max-device-width : 700px) {
  .panel{
    display: flex;
  }
  .punkt button{
    flex: 0 45%;
  }
}
@media only screen and (max-device-width : 450px) {
    .panel{
      display: flex;
    }
    .punkt button{
      flex: 0 43%;
      font-size: 11px;
    }
    .inpu{
      width: 100%;
    }
    .button{
      width: 100%;
    }
    .answer span,button{
      margin-left: 10px;
    }
    .slt{
      width: 100%;
    }
}